<div class="row">
  <div class="col-md-6">
    <small> PURCHASE QTY </small>
    <h4 class="title-up"> <%= @stock.purchase_quantity %></h4>
  </div>
  <div class="col-md-6">
    <small> IN STOCK </small>
    <h4 class="title-up"><%= @stock.balance%></h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <small> SALES </small>
    <h4 class="subtitle-up"> <%= @stock.sales.total %></h4>
  </div>
  <div class="col-md-3">
    <small> TRANSFERS </small>
    <h4 class="subtitle-up"><%= @stock.stock_transfers.total %></h4>
  </div>
  <div class="col-md-3">
    <small> INTERNAL USES </small>
    <h4 class="subtitle-up"><%= @stock.internal_uses.total %></h4>
  </div>
  <div class="col-md-3">
    <small> SPOILAGES </small>
    <h4 class="subtitle-up"><%= @stock.spoilages.total %></h4>
  </div>
</div>
<hr>
<p><b>barcode</b></p>
<%= @stock.barcode %>
<br>
<p><b>Supplier</b></p>
<%= @stock.supplier_name %>
<hr />
<p><b>Stocks with the same Barcode (<%= @stock.barcode %>)</b></p>
<div class="card-body">
        <div class="table table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> Store </th>
                <th> In Stock </th>
                <th> Last Update </th>
              </tr>
            </thead>
            <tbody>
              <% store_front_ids = StoreFronts::Stock.processed.includes(:store_front).where(barcode: @stock.barcode).pluck(:store_front_id) %>
              <% StoreFront.where(id: store_front_ids).each do |store_front| %>
                <tr>
                  <td><%= store_front.name %></td>
                  <td><%= store_front.stocks.processed.where(barcode: @stock.barcode).sum(:available_quantity) %></td>
                  <td><%= store_front.stocks.processed.where(barcode: @stock.barcode).order(updated_at: :desc).last.updated_at.strftime("%B %e, %Y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
